
<!DOCTYPE html>
<html>

<head>
     <link  rel="stylesheet" href="/css/styles.css"> </link>

</head>
<body>
  <div class="main-content">
  {{>header}}
  <p> hello how are you </P>
    <p>About Me.-------</p>
    <img  src="/img/MyImage.jpg" />
</div>

{{>footer}}
</body>
</html>
